apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: yts-api
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: yts-api
  minReplicas: 3
  maxReplicas: 12
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 65
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 75
