apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    scrape_configs:
      - job_name: yts-api
        metrics_path: /metrics
        static_configs:
          - targets: ["yts-api.yts-prod.svc.cluster.local:8000"]
